<!DOCTYPE html>
<html>
	<head>
		<title>Facebook - log in and sign up</title>
		<link rel="stylesheet" href="fb.css">

	</head>
	<body>
		<header>
			<img id="logo" src="https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/y7nRb1Fhh8Z.png">
			<span id="email"><label>Email or Phone</label><br><input type="email" name="email" ></span>
			<span id="password"><label>Password</label><br><input type="password" name="password"></span>
			<a href="#" id = "fp">Forgot Password?</a>
			<button>Log In</button>
		</header>
		<div id="main">	
			<div id="left">
				<center>
					<p>Facebook helps you connect and share with
					<br> the people in your life.</p>
					<img id = "image" src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/GwFs3_KxNjS.png">
				</center>
			</div>	
			<div id="right">
				<h1>Create an account</h1>
				<p>It's free and always will be.</p>
				<form>
					<input type="text" name="Firstname" placeholder="First Name">
					<input type="text" name="Surname" placeholder="Surname">
					<br>
					<input type="email" name="email" placeholder="Email Address">
					<br>
					<input type="password" name="password" placeholder="New Password">
					<br>
					<div style="margin-left: 10px;">
						<p style="padding:10px 0px;">Birthday</p>
							<select>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</select>
						<select>
							<option>Jan</option>
							<option>Feb</option>
							<option>Mar</option>
							<option>Apr</option>
							<option>May</option>
							<option>June</option>
						</select>
						<select>
							<option>2018</option>
							<option>2017</option>
							<option>2016</option>
							<option>2015</option>
							<option>2014</option>
							<option>2013</option>
						</select><br>
						<span>Why do I need to provide my date of birth?</span>
						<br>
						<br>
						<input type="radio" name="Gender">Female
						<input type="radio" name="Gender">Male
						<br>
						<p id="terms">By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and<br> 
						<a href="#">Cookies Policy</a>. You may receive SMS notifications from us and<br> can opt out at any time.</p><br>
					</div>
					<input type="submit" value="Sign Up">
				</form>
				<br>

				<span style="margin-top: 20px; color:grey; font-size: 15px;"><a href="#" style="text-decoration: none">Create a Page</a> for a celebrity, band or business.</span>
			</div>
		</div>
	
	</body>
</html>